
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
  background:#F7F8FA;
  color:#0F172A;
  font-family:Arial,sans-serif;
}

.container{
  max-width:1440px;
  margin:0 auto;
  padding-left:32px;
  padding-right:32px;
}
